* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #F2F5F8;
    font-size: 16px;
}

main {
    height: 100vh;
    margin-top: 64px;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    margin-bottom: 12px;
    color: #102A42;

}

.paragraph {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    color: #7D7D98;
}

.img-container {
    margin: 64px 32px;
}

.img-container img {
    max-width: 500px;
    width: 100%;
    max-height: 300px;
    height: 100%;
    border-radius: 12px;

}

.main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main-content {
    background-color: #FFFFFF;
    max-width: 500px;
    width: 100%;
    min-height: 300px;
    max-height: 100vh;
    margin: 64px 32px;
    border-radius: 12px;

}

.main-content nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    margin-left: 32px;
    margin-right: 32px;
}

.main-content a {
    color: #000000;
    text-decoration: none;
    letter-spacing: 2px;
    padding : 10px 32px
}

.main-content a:hover {
    color: #49A6EB;
    background-color: #a0c8e7fe;
}

.main-content h3 {
    margin: 32px 32px;
    letter-spacing: 2px;
    color: #102A42;

}

.main-content p {
    margin: 32px 32px;
    color: #7D7D98;
}

#vision {
    display: none;
}

#goals {
  display: none;
}

.show {
    display: block;
}